/*body common start*/
body {
	margin: 0px;

	font-family: sans-serif;
	font-weight: 16px;
	font-size: 400;
	font-color: #0f2656;
}
/*body common end*/

/*header start*/
header {}

.container {
	width: 90%;
	/*border: 1px solid red;*/
	margin: 0 auto;
	overflow: hidden;
}

.logo {
	width: 10%;
	/*border: 1px solid red;*/
	float: left;


}
.logo a {}
.logo a img {
	width: 100%;
}

.manu {
	width: 60%;
	border: 1px red;
	float: right;
	/*border: 1px solid red;*/

}
.manu ul {
	float: right;
}
.manu li {
	list-style: none;
	float: left;
}
.manu ul li a {
	text-decoration: none;
	padding: 0 20px;
	color: #0f2656;
}

.manu ul li:last-child a {
	padding-right: 0;
}
.manu ul li a:hover {
	color: #008aff;
}
/*header end*/

/*banner start*/
.banner {
	padding: 50px 0;
}
.container_2 {
	width: 50%;
	/*border: 1px solid red;*/
	margin: 0 auto;
	overflow: hidden;
	
}
.t_center {
	text-align: center;
}

.b_h1 {
	/*border: 1px solid red;*/
	color: #0f2656;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    /* letter-spacing: 30px; */
    /* word-spacing: 30px; */
    margin: 0;
}
.b_h1 span {
	color: #008aff;
}
.b_p {
	/*border: 1px solid red;*/
	color: #0f2656;
	font-weight: 400;
	font-size: 16px;
	line-spacing: 30px;
	margin: 10px 0 20px;

}

.b_image {
	/*border: 1px solid red;*/
	width: 80%;
	margin: 0 auto;
}
.b_image img {
	width: 100%;
}

/*banner end*/

/*about start*/
.about {
	padding-bottom: 50px;
}

.a_left {
	float: left;
	width: 40%;
	/*border: 1px solid red;*/
	text-align: right;

}
.a_left h2{
    font-size: 40px;
    font-weight: 700;
    color: #f15767;
    margin: 0;
}
.a_left p{
	font-size: 16px;
    font-weight: 400;
    color: #0f2656;
    line-height: 25px;
    margin: 5px 0 0;
}

.a_right {
	float: right;
	width: 55%;
	/*border: 1px solid red;*/
}
.a_right h1 {
	font-size: 45px;
    font-weight: 700;
    color: #0f2656;
    margin: 0;
}

/*about end*/